@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url('https://placehold.co/800x600') no-repeat center center fixed;
    background-size: cover;
}

*{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo{
    font-size: 48px;
    background: linear-gradient(to right,  #800080, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} 